<div>
  <nav class="navbar sticky-top navbar-expand-lg bg-light navbar-light">
    <div class="container">
      <a href="#" class="navbar-brand h2 fs-2 m-0">Hospital</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navmenu"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navmenu">
        <ul class="navbar-nav ms-auto">
          <a class="nav-link me-2" href="#" routerLink="/firstBuilding">Home</a>
          <a class="nav-link" href="#" routerLink="/maps">Mapa</a>
        </ul>
      </div>
    </div>
  </nav>
</div>

<router-outlet></router-outlet>
