<div class="container" style="border-radius: 5rem; background-color: rgb(182, 209, 226);" >
  <div class='container' style="background-color: whitesmoke; border-radius: 5rem;">
    <router-outlet></router-outlet>
    <section class="section-padding pb-0" id="reviews">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center mb-lg-2 mb-2">Our Patients Reviews</h2>
            <div *ngFor='let comment of allComments'>
              <figure class="reviews-thumb d-flex flex-wrap align-items-center rounded" style="background-color:rgb(182, 209, 226);" >
                <star-rating [rating]='comment.rating'></star-rating>
                <p class="reviews-text w-100">{{comment.userComment}}</p>
                <figcaption class="ms-4">
                  <strong>{{comment.userName}}</strong>

                  <span class="text-muted"> Patient</span>
                </figcaption>

              </figure>
              <br>
            </div>
            <br><br>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>