<div class="container" style="border-radius: 5rem; background-color: rgb(182, 209, 226);">
  <div class='container' style="background-color: whitesmoke; border-radius: 5rem;">
    <!--<router-outlet></router-outlet> -->
    <section class="section-padding pb-0" id="reviews">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center mb-lg-2 mb-2">Waiting for approval</h2>


            <div *ngFor='let comment of waiting' class="list-group">
              <!-- <star-rating [rating]='comment.rating'></star-rating> -->
              <a href="#" class="list-group-item list-group-item-action active">
                <div class="d-flex w-100 justify-content-between">
                  <div class="d-flex w-100 ">
                    <div class="d-flex   align-self-baseline ">
                      <h5 class="mb-1">{{comment.userName}} </h5>
                    </div>
                    <div class="d-flex align-self-baseline">
                      <p class="small font-weight-light font-italic" style="text-align: bottom;">{{ comment.show?
                        'Public' : 'Private'}}</p>
                    </div>

                  </div>
                  <div class="d-flex w-100 justify-content-end">
                    <small>{{comment.dateOfPosting.toLocaleString()}}</small>
                  </div>

                </div>
                <p class="mb-1">{{comment.userComment}}</p>
              </a>
              <!--ZAMJENITI STYLE:zalepiti za desnu ivicu-->
              <div class="text-right;" style="margin-left: 965px;">
                <span>
                  <button (click)="approveComment(comment.commentId)"
                    style="width: 100px;background-color:rgb(104, 183, 231);" class="btn">Approve</button>
                  <!--<button (click)="denyComment(comment.commentId)" style="width: 100px;background-color: rgb(226, 57, 57);color: rgb(224, 236, 243);"
                    class="btn">Deny</button> -->

                </span>
              </div>
              <br>
            </div>

            <br><br>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>
<br><br>
<div class="container" style="border-radius: 5rem; background-color: rgb(182, 209, 226);">
  <div class='container' style="background-color: whitesmoke; border-radius: 5rem;">
    <!--<router-outlet></router-outlet> -->
    <section class="section-padding pb-0" id="reviews">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h2 class="text-center mb-lg-2 mb-2">Approved</h2>


            <div *ngFor='let comment of approved' class="list-group">
              <!-- <star-rating [rating]='comment.rating'></star-rating> -->
              <a href="#" class="list-group-item list-group-item-action active">
                <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{comment.userName}} </h5>
                  <small>{{comment.dateOfPosting.toLocaleString()}}</small>
                </div>
                <p class="mb-1">{{comment.userComment}}</p>
              </a>
            </div>
            <br><br>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>